* {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

tr > th {
    border-bottom-width: 2px;
}

.row__table-grey {
    background-color: #F9F9F9;
}

.row__table-grey:hover {
    background-color: #F5F5F5
}

.row__table-white:hover {
    background-color: #F9F9F9;
}

ul, li {
    list-style: none;
}
 
.user__list {
    height: 100%;
}

.first__list {
    position: relative;
    height: 100%;
}

.user__type {
    padding: 17px 16px;
    display: block;

    color: #9D9D9D;
}

.user__type:hover {
    background-color: #080808;
    color: white;
}

.sub__menu {
    min-width: 160px;
    padding: 5px 0px;
    
    position: absolute;
    right: 0px;

    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
    background-color: white;
    box-shadow: -1px 4px 36px -9px rgba(0,0,0,0.75);

    pointer-events: none;
    opacity: 0;
}

.sub__menu li a {
    padding: 4px 35px 4px 15px;
    display: block;

    color: #333
}

.sub__menu li > a:hover {
    background-color: #F5F5F5;
}

header {
    height: 50px;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222222;
}

.wraper {
    max-width: 800px;
    
    margin: auto;
    padding: 0px 16px;
}

.login_errorbox {
    padding: 15px;

    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #ebccd1;
    color: #B84442;
    background-color: #F2DEDE;
}

table {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
}

tbody i {
    font-size: 13px;
}

.colaps {
    max-width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th, td {
    padding: 8px;
    
    box-sizing: border-box;
    border: 1px solid #ddd;
}

tr {
    height: 37px;
}

.thead__name {
    width: 400px;
    text-align: left;
}

.thead__link {
    width: 60px;
}

.thead__size {
    width: 100px;
    padding: 0px;
}

.thead__size a {
    color: black;
    display: block;
    height: 100%;
}

.thead__date {
    width: 140px;
    padding: 0px;
}

.thead__date a {
    color: black;
}

.relative {
    position: relative;
}

.relative a {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.fa-sort-up {
    display: block;
}

.fa-sort-up, .fa-sort-down {
    height: 1px;
    color: #808080;
}

.thead__uparrow, .thead__downarrow {
    padding: 8px 17px;
    width: 37px;
}

.arrows_contenedor {
    position: absolute;
    right: 6px;
    top: 9px;

    pointer-events: none;
}

.contenedor_likes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes {
    position: inherit;
}

.fa-arrow-up, .fa-arrow-down {
    color:black;
}

.fa-download {
    padding-right: 6px;
}

.fa-download, .fa-magnet {
    display: inline-block;
    color: #337ab7;
}

.text-center {
    text-align: center;
    white-space: nowrap;
}

.button__headercontenedor {
    display: inline-block;
}

.input_search {
    margin-bottom: 0px;

    border-radius: 4px 0px 0px 4px;
}

.header__submitbtn {
    height: 30px;
    width: 37px;

    border: 0px;

    position: relative;
    right: 4px;

    border-radius: 0px 4px 4px 0px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.header__submitbtn:hover {
    background-color: #286090;
    cursor: pointer;
}

.fa-search {
    color: white;
}

/* register*/

.wrap {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 20px 40px 20px;
}

.top h1 {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 500;
}

.top p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.row {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.error_message {
    color: #BB4442;
}

label {
    margin-bottom: 10px;
    font-weight: 700;
}

input {
    height: 30px;
    max-width: 300px;

    padding: 0px 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.registerbtn__submit {
    width: 80px;
    height: 40px;
    background-color: #337AB7;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
}

.registerbtn__submit:hover {
    cursor: pointer;
    background-color: #204D74;
}

/* Upload.view */

.hide__admin {
    display: none;
    pointer-events: none;
}

.browse_contenedor {
    display: table;
    margin-bottom: 10px;
}

.browse_contenedor > label {
    margin: 0px;
    border-radius: 4px 0px 0px 4px;
}

.browse_contenedor > input{
    margin: 0px;
}

.btn__browse {
    width: 1%;

    display: table-cell;
    align-items: center;

    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn__browse:hover {
    background-color: #E6E6E6;
}

.btn__browse > span {
    padding: 0px 10px;
    font-weight: normal;
}

.btn__browse:hover {
    cursor: pointer;
}

#torrent__file {
    width: 100%;
    max-width: 100%;

    display: table-cell;
    border-radius: 0px 4px 4px 0px;
    color: #555555;
    background-color: #EEEEEE;
}

#magnet__noclick {
    pointer-events: none;
}

#magnet__red {
    color: red;
}

/* SEARCH.PHP */

.search__h1 {
    padding-top: 30px;

    font-size: 24px;
    font-weight: 500;
}

/* PAGINATION.PHP */

.pagination__container {
    display: flex;
    justify-content: center;
}

.pagination {
    font-size: 0;
    display: inline-block;
}

.pagination li {
    display: inline-block;
    color: #337AB7;
}

.pagination li a {
    display: inline-block;
    padding: 6px 12px;

    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.active {
    background-color: #337AB7;
}

.pagination .active a {
    color: white;
    border-color: #337AB7 ;
}

.left__aquo-disabled {
    padding: 6px 12px;

    border: 1px solid #ccc;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    cursor: not-allowed;
}

#left__aquo-enabled {
    border: 1px solid #ccc;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.right__aquo-disabled {
    padding: 6px 12px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    cursor: not-allowed;
}

#right__aquo-enabled {
    border-left: none;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (max-width: 760px) {
    .colaps {
        white-space: pre-wrap;
        word-break: break-all;
    }

    .hide {
        display: none;
    }

    .fa-download {
        padding: 0px 0px 6px 0px;
    }

    .fa-download, .fa-magnet {
        display: block;
    } 
}

@media (max-width: 425px) {
    
    .wrap {
        margin: 0px;
    }
    
    /* table th, td, a, i  {
        font-size: 28px;
    } */

    table th, tr {
        padding: 20px 4px;
    }

    .arrows_contenedor {
        top: 20px;
    }

    /* tbody i {
        font-size: 20px;
    } */
}