* {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
 
.user__list {
    height: 100%;
}

.first__list {
    position: relative;
    height: 100%;
}

.user__type {
    Padding: 17px 16px;
    display: block;

    color: white;
}

.user__type:hover {
    background-color: #080808;
}

.sub__menu {
    min-width: 160px;
    padding: 5px 0px;
    
    position: absolute;
    right: 0px;

    border: 1px solid #ccc;
    background-color: white;

    pointer-events: none;
    opacity: 0;
}

.sub__menu li > a {
    padding: 4px 35px 4px 15px;
    display: block;

    color: #333
}

.sub__menu li > a:hover {
    background-color: #F5F5F5;
}

header {
    height: 50px;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222222;
}

.wraper {
    max-width: 800px;

    margin: auto;
    padding: 0px 16px;
}

.login_errorbox {
    padding: 15px;

    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #ebccd1;
    color: #B84442;
    background-color: #F2DEDE;
}

table {
    border-collapse: collapse;
    margin: auto;
}

.colaps {
    max-width: 450px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th, td {
    padding: 8px;

    box-sizing: border-box;
    border: 1px solid #ddd;
}

.thead__name {
    text-align: left;
}

.thead__link {
    width: 70px;
}

.thead__size {
    width: 100px;
}

.thead__date {
    width: 140px;
}

.thead__uparrow, .thead__downarrow {
    width: 50px;
}

.fa-arrow-up, .fa-arrow-down {
    color:black;
}

.fa-download {
    padding-right: 6px;
}

.fa-download, .fa-magnet {
    display: inline-block;
    color: #337ab7;
}

.text-center {
    text-align: center;
    white-space: nowrap;
}

/* register*/

.wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.top h1 {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 500;
}

.top p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.row {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.error_message {
    color: #BB4442;
}

label {
    margin-bottom: 10px;
    font-weight: 700;
}

input {
    height: 30px;
    max-width: 300px;

    padding: 0px 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.registerbtn__submit {
    width: 80px;
    height: 40px;
    background-color: #337AB7;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
}

.registerbtn__submit:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    .colaps {
        white-space: pre-wrap;
        word-break: break-all;
    }
    .hide {
        display: none;
    }
    .fa-download {
        padding: 0px 0px 6px 0px;
    }
    .fa-download, .fa-magnet {
        display: block;
    }
}